
<form action="https://formspree.io/f/mlgwpdbl" method="POST">
    <label>
        {{t[lang].contact.email}}:
        <input type="email" name="email">
    </label>
    <label>
        {{ t[lang].contact.content }}
        <textarea name="message" rows="5"></textarea>
    </label>
    <!-- your other form fields go here -->
    <button type="submit">{{ t[lang].contact.send }}</button>
</form>
