<header class="container">
    <nav>
        <a href="{{ "/" | locale_url }}">Home</a>
        <ul>
            <li><a href="{{ "/writing" | locale_url }}">Writing</a></li>
            <li><a href="{{ "/projects" | locale_url }}">Projects</a></li>
            <li><a href="{{ "/writing/my_work" | locale_url }}">My Services</a></li>
        </ul>
    </nav>
</header>
