title: "My Awesome Blog"
remote_theme: "mmistakes/minimal-mistakes"
minimal_mistakes_skin: "default" # e.g., air, aqua, contrast, dark, dirt, etc.

# Site Settings
locale: "en-US"
url: "https://username.github.io"
baseurl: "" # leave empty if at root

# Plugins
plugins:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-feed
  - jekyll-include-cache

defaults:
  - scope:
      path: ""
      type: posts
    values:
      layout: single
      author_profile: true

