img {
    /* scaling with font size */
    height: 180px;
    float: right;
    margin-inline-start: 1rem;
    margin-block-end: 1rem;
    /* filter: grayscale(40%); */
}

body > main {
    max-width: 65ch;
    margin-inline: auto;
}
