body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
    line-height: 1.5;
    color: var(--color-neutral-900);
    background-color: var(--color-neutral-50);
}

a {
    color: var(--color-primary-300);
}

code {
    background-color: var(--color-neutral-50);
    padding: 0.2em 0.4em;
    border-radius: 3px;
    font-family: monospace;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 1rem;
}

ul {
    margin-block-end: 0;
}

p {
    margin-top: 0.8rem
}


body {
    margin: 0;
}

body>* {
    max-width: 60ch;
    margin-inline: auto;
    padding: 1rem;
}
