body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
    line-height: 1.5;
    color: var(--color-neutral-900);
}

a {
    color: var(--color-primary-500);
}

code {
    background-color: var(--color-neutral-50);
    padding: 0.2em 0.4em;
    border-radius: 3px;
    font-family: monospace;
}

body>* {
    max-width: 60ch;
    margin-inline: auto;
}
