.project.portrait {
    display: flex;
    gap: clamp(1rem, 1rem + 2vw, 3rem);
}

@media(max-width: 50ch) {
    .project.portrait {
        flex-direction: column;
    }
}

.project.portrait img {
    max-width: 25ch;
    border-radius: 0.8rem;
    border: 2px solid var(--color-neutral-600);
}

h1 {
    margin-block-end: 2rem;
}

.project a.button {
    margin-block-start: 1rem;
}

body>* {
    max-width: 80ch;
}

.project.landscape img {
    max-width: 100%;
    object-fit: fill;
    /* max-width: 25ch; */
    border: 2px solid var(--color-neutral-600);
}