<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects - Milan Vlaški</title>

    <link rel="stylesheet" href="/assets/css/common.css">
    <link rel="stylesheet" href="/assets/css/projects.css">
</head>

<body>
    <header>
        <nav>
            <a href="/">Home</a>
        </nav>
    </header>

    <main>
        <h1>Projects</h1>

        <section class="project-grid">

        {% for item in collections.projects %}

            <article class="project {{ item.data.thumbnail_orientation }}">
                <a href="{{ item.data.showcase }}" target="_blank">
                    <img src="{{ item.data.thumbnail }}">
                </a>
                <div>
                    <h2> {{ item.data.title }} </h2>
                    
                    <div class="links">
                        <a href="{{ item.data.showcase }}" target="_blank">View {{ item.data.showcase_variant }}</a>
                        <a href="{{ item.data.github_url }}" target="_blank">GitHub Repo</a>
                    </div>
                    
                    <p>
                        {{ item.data.description }}
                    </p>
                    {% if item.data.showcase %}
                    <a href="{{ item.data.showcase }}" class="button primary" target="_blank">DEMO</a>
                    {% endif %}
                </div>
            </article>
            <hr style="margin-block: 1rem;">
        {% endfor %}
        </section>
    </main>

    <footer>
        <!-- Footer content -->
    </footer>
</body>

</html>