<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects - Milan Vlaški</title>

    <link rel="stylesheet" href="/assets/css/common.css">
</head>

<body>
    <header>
        <nav>
            <a href="/">Home</a>
        </nav>
    </header>

    <main>
        <h1>Projects</h1>
        <p>Here are my projects:</p>

        <section class="project-grid">

        {% for item in collections.projects %}

            <article class="card">
                <img src="{{item}}" alt="">
            <h2> {{ item.data.title }} </h2>
            <p> {{ item.data.description }} </p>
            
            <div class="links">
                <a href="{{ item.data.showcase }}">View {{ item.data.showcase_variant }}</a>
                <a href="{{ item.data.github_url }}">GitHub Repo</a>
            </div>

            {% if item.data.prod %}
                <span class="badge">Live in Production</span>
            {% endif %}
            <p>
                {{ item.data.content }}
            </p>
            </article>
        {% endfor %}
        </section>
    </main>

    <footer>
        <!-- Footer content -->
    </footer>
</body>

</html>